.games-title {
  color: #151f42;
  font-size: 400%;
  text-align: center;
  margin-top: 5%;
}
.Game-Conatiner {
  display: flex;
  justify-content: center;
}

.games-card {
  border-style: groove;
  border-color: #151f42;
  border-radius: 5px;
  min-width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.games-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
