.games-title {
    color: #151f42;
    font-size: 400%;
    text-align: center;
    margin-top: 5%;
}

.games-card {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 3%;
    border-color:#151f42;
    border-style: groove;
    border-radius: 2%;
}

.games-side {
    
    margin-left: 15%;
    
}

.games-game-title {
    color: #151f42;
    font-size: 300%;
    margin-left: 45%;
}

.view {
    margin-top: 35%;
    padding: 15%;
    width: 200%;
    background-color: #151f42;
    color: white;
    border-radius: 8%;
}

.view:hover {
    color: #151f42;
    background-color: white;
    border-color: #151f42;
    cursor: pointer;
    transition: 0.3s;
}

.games-images {
    border-radius: 5px;
}

.games-by {
    color: #151f42;
    margin-left: 45%;
    width: 100%;
    text-align: center;
}
